*{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;   
}

body{
    color: #fff;
    background-color: #252525;
    background-image:
        radial-gradient(at 50% 0%, rgb(37, 37, 37) 30vh, transparent 70%),
        radial-gradient(at 50% 0%, rgb(202, 71, 71) 0px, transparent 80%);
    min-height: 100%;
    background-attachment: fixed;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 10vh;
    height: 7vh;
    background-color: #202020;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    max-width: 20vw;
    list-style: none;
}

.container{
    display: flex;
    max-width: 10vw;

}

.movie-gallery {
	padding: 3vw 1rem;
	display: grid;
	grid-template-columns: repeat(10, 20vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 30vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    max-width: 45vw;
    overflow:hidden;

}

.series-gallery {
	padding: 3vw 1rem;
	display: grid;
	grid-template-columns: repeat(10, 20vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 30vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
    max-width: 45vw;
    overflow:hidden;

}

.active {
	scroll-snap-type: unset;
}

.gallery-item {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 15px;
	font-size: 0;
}